<h1>All Users</h1>
<% uidx = 0 %>
<table width=500>
	<tr align=left>
		<th>ID</th>
		<th>Name</th>
		<th>Email Address</th>
	</tr>
	<% @user.each do |user| %>
		<% uidx += 1%>
		<tr align=left>
			<td><%=uidx%></td>
			<td><%=user.name%></td>
			<td><%=user.email%></td>
			<td><%= link_to "delete",user_path(user),method:'DELETE'%></td>
		</tr>
	<% end %>
</table>

<%= link_to "Create new user", controller:"users", action:"new" %>