<h2>Sample BBC</h2>
<%= link_to "Post new comment", new_post_path %>
<%= link_to "User list", controller:"users",action:"index" %>
<% @post.each do |post| %>
	<div class="post">
		<dl>
			<% if post.user.nil? %>
				<dt><%= post.title %></dt>
			<% else %>
				<dt><%= post.title %> post by <%= post.user.name %> </dt>	
			<% end %>
			<dd><%= simple_format(post.body) %></dd>
			<dd><%= post.created_at %> </dd>
		</dl>
	</div>
<% end %>

