<h1>Posts#new</h1>
<%= form_tag(:controller=>"posts", :action=>'create') do %>
	<p>user
		<%= text_field_tag "user" %>
	</P>
	<p>title
	<%= text_field_tag "title" %>
	</P>
	<p>comment</P>
	<%= text_area_tag "body", "",:size=>'40x20' %><br />
	<%= submit_tag "Post" %>
<% end %>
