<h1>Posts#new</h1>
<%= form_for(@post, :url => {:controller => 'posts', :action => 'create'}) do |f| %>
	<%= f.label :title%><br />
	<%= f.text_field :title%><br />
	<%= f.label :body%><br />
	<%= f.text_field :body%><br />
	<%= f.submit "Post" %><br />
<% end %>
